.github {
    margin-right: 1%;
    color: #333;
}
.linkedin {
    color: #333;
}
footer {
    margin-top: 13%;
    padding-top: 25px;
    padding-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-image: url('../svg/Clouds.svg');
}

@media only screen and (max-width: 800px) {
    .github {
        margin-right: 1%;
        color: #333;
    }
    .linkedin {
        color: #333;
    }
    footer {
        margin-top: 23%;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background-image: url('../svg/Clouds.svg');
    }
    .footer-title {
        font-size: 20px;
    }
}